- @page_title = "Users"

.pageHeader
  %h1.pageHeader__title.heading
    Users
  = link_to "Add a new user &rarr;".html_safe, new_user_path, :class => "pageHeader__link"

%ul.box
  - @users.each do |user|
    %li.boxItem
      = user.description
      = link_to "Revoke", user, :method => :delete, :data => {:confirm => "Are you sure you wish to revoke this user's access?"}
