.formFooter {
  background: lighten($green, 45%);
  border-top: 1px solid lighten($green, 22.5%);
  margin: 8px 0 0;
  padding: 12px 20px;
}

.formFooter__button {
  margin: 0 8px 0 0;
}

.formFooter__delete {
  color: $pink;
  flex: 0 0 auto;
  margin: 0 0 0 8px;
  text-decoration: underline;

  &:hover {
    color: darken($pink, 15%);
  }

  &:active {
    background: rgba(0, 0, 0, .05);
    padding: 4px 0;
  }
}

.formFooter__inner {
  align-items: center;
  display: flex;
}

.formFooter__subText {
  color: darken($green, 10%);
  flex: 1 1 auto;
}

.formFooter__subTextLink {
  text-decoration: underline;

  &:hover {
    color: darken($green, 15%);
  }

  &:active {
    background: rgba(0, 0, 0, .05);
    padding: 4px 0;
  }
}
