- @page_title = "Certificate Authorities"
%h1 Certificate Authorities
- if @cas.empty?
  %p There are no certificate authorites yet.
- else
  %ul
    - for ca in @cas
      %li= link_to ca.common_name, certificates_path(:ca => ca)
%hr
%ul
  %li= link_to "Create new certificate authority", new_certificate_authority_path
  %li= link_to "Manage users", users_path
  %li= link_to "Logout", logout_path, :method => :delete
