- @page_title = "Certificate Authorities"

.pageHeader
  %h1.heading.pageHeader__title
    Certificate Authorities
  = link_to "Add a new certificate authority &rarr;".html_safe, new_certificate_authority_path, :class => "pageHeader__link"

.box
  - if @cas.empty?
    %p.emptyState.island
      There are no certificate authorites yet.
  - else
    %ul
      - @cas.each do |ca|
        %li.boxItem
          = link_to ca.common_name, certificates_path(:ca => ca), :class => "heading blockLink"
